<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/work.css" type="text/css">
    <title>Kappa</title>
</head>

<body>
    <div class="holder">
        <h1 class="top">Список задач</h1>
        <div class="AddInfo">
            <input-task @addTask="addTask" />
            <input-column @addColumn="addColumn" />
        </div>
        <div>
            <Container :orientation=v iew class="container-main" @drop="onDropMain" :get-child-payload="getChildPayload2">
                <Draggable class="column" v-for="(col, index) in main" :key="col.id" :class="col.class" v-rainbow>
                    <div class="columnTitle">
                        <img src="../../assets/remove.png" alt="" class="removeAll cursor" v-on:click="removeColumn(col.name, index)">
                        <h1>{{col.name}}</h1>
                    </div>
                    <Container class="container" :group-name="'item'" :get-child-payload="getChildPayload(col.id)" @drop="onDrop(index, 'items', $event)">
                        <Draggable :class="{modalMask: item.showModal,'draggable-item': !item.showModal}" v-border v-rainbow v-for="(item, index) in col.items" :key="index" v-if="col.items.length">
                            <transition name="modal">
                                <div class="draggableGrid" :class="item.class" @dblclick="showModalOpen(col.id, index)">
                                    <h2 title="Кликните два раза по названию чтобы отредактировать его" @dblclick="changeTask(col.id, index, 'title')">
                                        {{item.title}}</h2>
                                    <p title="Кликните два раза по содержанию чтобы отредактировать его" @dblclick="changeTask(col.id, index, 'data')">
                                        {{item.data}}</p>
                                    <transition name="fade">
                                        <div class="change" v-if='item.changeTitle || item.changeTask'>
                                            <form>
                                                <input type="text" class="addTask" v-if='item.changeTitle' required v-model="title" maxlength="40" minlength="3" v-focus @blur="onBlur(col.id, index, 'title')">
                                                <textarea type="text" class="addTask" v-if='item.changeTask' required v-model="task" maxlength="1000" minlength="3" v-focus @blur="onBlur(col.id, index, 'data')" />
                                                <h3 class="cursor" @click="changeData(col.id, index, 'data')">Сохранить</h3>
                                            </form>
                                        </div>
                                    </transition>
                                    <div class="imgChange">
                                        <img src="../../assets/remove.png" alt="" v-if="!item.showModal" class="removeAll cursor" v-on:click="remove(col.id, index)">
                                        <img src="../../assets/edit.png" alt="" @click="changeTask(col.id, index, 'data')" class="removeAll cursor">
                                        <img src="../../assets/remove.png" alt="" @click="showModalClose(col.id, index)" v-if="item.showModal" class="removeAll cursor">
                                    </div>
                                </div>
                            </transition>
                        </Draggable>
                    </Container>
                </Draggable>
            </Container>
        </div>
    </div>
</body>

</html>
